<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <!-- <link rel="stylesheet" type="text/css" th:href="@{/resources/css/css/theme.css}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">-->
    <title>Pagina della form</title>
</head>
<body>

<form th:action="@{/contacts/new}" th:object="${contactForm}" method="post">
    <h1>Nuovo contatto</h1>
    <input th:field="*{firstName}" placeholder="Nome" type="text" value="" required>
    <input th:field="*{lastName}" placeholder="Cognome" type="text" value="" required>
    <input th:field="*{phone}" placeholder="Telefono" type="text">
    <span class="validation-text">Please enter a valid email address.</span>
    <!--<div class="flex">-->
    <!--<textarea placeholder="Message" rows="1" required></textarea>-->
    <!--</div>-->
    <button type="submit">Send</button>
</form>

</body>
</html>